@import "header.css";
@import "footer.css";
@import "style.css";

html,
  body {
    overflow-x: hidden;
  }
  body {
    max-width: 100vw;
  }

/* CONTACT SECTION */
.contact-section {
    background-color: white;
    height: 100vh;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    width: 100vw;
    margin-left: 12%;
}

.contact-section h1 {
    margin-top: 0;
    margin-bottom: 0;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 55px;
    margin-top: 1.3em;
    color: #97797F;
    animation: revealText 1s ease forwards;
}

.contact-section p {
    margin: 0;
    top: 120px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #666;
    font-size: 24px;
    animation: revealText 1s ease forwards;
}

form {
    margin-top: 8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #666;
    font-size: 16px;
    width: 100vw;
    position: absolute;
    z-index: 9;
    animation: revealText 1s ease forwards;
}

@keyframes revealText {
    0% {
      opacity: 0;
      transform: translateY(40%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

form input {
    border-radius: 20px;
    border: 1px solid #97797F;
    background-color: white;
    opacity: 49%;
}
form label {
    margin-left: 15px;
}
.contact-inputs {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.contact-inputs input{
    padding: 10px 20px 10px 20px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30vw;
}

#message-input {
    height: 150px;
    width: 70vw;
    border: 1px solid #97797F;
    opacity: 49%;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

#submit-button {
    background-color: #3f3f31;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    padding: .5% 1.5% .5% 1.5%;
    width: 10vw;
}

#submit-button:hover{
    color: black;
}

#thank_you p {
    padding-top: 570px;
    color: #A6A5A5;
    font-size: 16px;
}
.contact-section p {
    position: absolute;
    top: 270px;
    z-index: 9;
    width: 55%;
}
#contact-page-image {
    width: 75vw;
    height: 90.9vh;
    float: right;
}

#footer-logo {
    margin-left: 45%;
    margin-right: 45%;
}

@media screen and (max-width: 1200px) and (min-width: 1025px){
    .contact-section {
        /* border: 2px solid green; */
        height: 100vh; 
    }
    .contact-section p {
        z-index: 1;
        width: 55%;
    }
    #contact-page-image {
        height: 90vh;
        width: 75%;
    }
    #footer-logo {
        margin-left: 45%;
        margin-right: 45%;
    }
}







@media screen and (max-width: 1024px) and (min-width: 769px){
    .contact-section {
        /* border: 2px solid green; */
        height: 100vh; 
    }
    .contact-section p {
        z-index: 1;
        width: 80%;
    }
    #contact-page-image {
        margin-right: 0;
        height: 90vh;
        width: 80%;
    }
    #footer-logo {
        margin-left: 225px;
        margin-right: 236px;
    }

}






@media screen and (max-width: 768px) and (min-width: 481px) {
    .contact-section {
        /* border: 2px solid green; */
        height: 100vh;
    }

    .contact-section h1 {
        font-size: 40px;
        margin-top: 2.3em;
    }

    .contact-section p {
        color: #555555;
        font-size: 18px;
        z-index: 1;
        width: 80%;
    }

    #contact-page-image {
        margin-right: 0;
        height: 92.7vh;
        width: 91%;
    }

    form {
        z-index: 1;
    }
    form label {
        color: #555;
    }
    form input {
        opacity: 68%;
    }
    #last-name-input {
        margin-left: 34px;
    }

    #last-name-label {
        margin-left: 48px;
        color: #555;
    }

    #footer-logo {
        margin-left: 225px;
        margin-right: 236px;
    }
    .footer-nav {
        margin-bottom: 0%;
    }
    #thank_you p {
        padding-top: 550px;
    }
    #submit-button:hover {
        color: white;
    }
}





@media screen and (max-width: 480px) and (min-width: 320px){
    .contact-section {
        margin-left: 0;
        text-align: center;
        height: 100vh;
    }
    .contact-section h1 {
        font-size: 40px;
        margin-top: 1.3em;
    }

    .contact-section p {
        color: #555555;
        top: 230px;
        padding-left: 8%;
        padding-right: 8%;
        font-size: 18px;
        z-index: 1;
    }

    #contact-page-image {
        margin-right: 0;
        height: 91.9vh;
        width: 91%;
    }

    form {
        z-index: 1;
        color: #555;
    }
    form input {
        opacity: 68%;
    }
    form label {
        margin-left: 0%;
        padding-right: 6em;
    }
    #email-label {
        padding-right: 9em;
    }
    #message-label {
        padding-right: 23em;
        color: #555;
    }
    #message-input {
        opacity: 68%;
        width: 85vw;
    }
    #submit-button {
        width: 17vw;
        margin-right: 74%;
        font-size: 17px;
    }
    .contact-inputs {
        width: 100%;
        justify-content: space-around;
    }
    .contact-inputs input {
        width: 34.5vw;
    }
    #footer-logo {
        margin-left: 225px;
        margin-right: 236px;
    }
    .footer-nav {
        margin-bottom: 0%;
    }
}